table.datagrid{width:100%;box-sizing:border-box;}
table.datagrid th,table.datagrid td{padding:10px;color:#555;}
table.datagrid thead tr{border-bottom:1px solid #257688;color:#048aa8;}
table.datagrid thead th{font-weight:100;}

table.datagrid tbody tr:nth-child(2n){background-color:#fcfcfc;}
table.datagrid tbody tr{border-bottom:1px solid #eee;}
table.datagrid tbody tr:hover{background-color:#feffe8;}